.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.header {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 92px;
    position: relative;
    font-family: 'Rubik Puddles', cursive, "PT Sans", Calibri, Tahoma, sans-serif;
}

body{
    background: #588157;
}

a {
    color: inherit;
    text-decoration: none;
}