.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.header {
    position: absolute;
    width: 456px;
    height: 89px;
    left: 492px;
    top: 34px;
    font-size: 400px;
    color: black;
  }