.searchbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;   
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
a {
    color: inherit;
    text-decoration: none;
    color: inherit;
}