#CSS
h1 {
  position: absolute;
  width: 456px;
  height: 89px;
  left: 492px;
  top: 34px;

  font-family: 'Rubik Puddles';
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 92px;

  color: #FFFFFF;
}