@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.header{
  position: relative;
  text-align: center;

  font-family: 'Rubik Puddles', cursive, "PT Sans", Calibri, Tahoma, sans-serif;                                         
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 92px;

  color: #FFFFFF;

  justify-content: center;
}

body{
  background: #588157;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  
}
.container{
    position: relative;
    padding: 2rem 200px;
    top: 98px;
}

.container h2{
    text-align: center;
    margin-bottom: 30px;
}

.circular-bars{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background-color: #e9edc9;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circular-bar{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
}

.circular-bar::before{
    content: "";
    position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: #ccd5ae;
}

.circular-bar .value{
    z-index: 9;
    font-size: 1.5rem;
    font-weight: 600;
    

}
.dropdown {
  position: absolute;
  top: 0px;
  left: 40px;
}

.menu-btn {
  border-radius: 20px;
  background-color: #e9edc9;
  color: #3a5a40;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}

.dropdown-content {
  display: none;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
}

.dropdown-content a {
  color: white;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #3a5a40;}

.dropdown:hover .dropdown-content {
  background-color: #e9edc9;
  display: block;
}

.dropdown:hover .menu-btn {
  background-color: #3a5a40;
  border: 2px solid #e9edc9;
  color: #e9edc9;
}
