@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.head{
  position: absolute;
  width: 456px;
  height: 89px;
  left: 492px;
  top: 34px;

  font-family: 'Rubik Puddles';                                             
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 92px;

}
body{
  background: #588157;
}
.container{
    position: relative;
    padding: 2rem 200px;
}

.container h2{
    text-align: right;
    margin-bottom: 30px;
}

.circular-bars{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: #588157;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circular-bar{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: red;
    display: grid;
    place-items: center;
}

.circular-bar:before{
    content: "";
    position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: #588157;
}

.circular-bar.value{
    z-index: 9;
    font-size: 1.5rem;
    font-weight: 600;
}

