@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.header{
  position: relative;
  text-align: center;

  font-family: 'Rubik Puddles', cursive, "PT Sans", Calibri, Tahoma, sans-serif;                                         
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 92px;

  color: #FFFFFF;

  display: flex;
  justify-content: center;
}

body{
  background: #588157;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  
}
.container{
    position: relative;
    padding: 2rem 200px;
    top: 98px;
}

.container h2{
    text-align: center;
    margin-bottom: 30px;
}

.circular-bars{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background-color: #e9edc9;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circular-bar{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
}

.circular-bar::before{
    content: "";
    position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: #ccd5ae;
}

.circular-bar .value{
    z-index: 9;
    font-size: 1.5rem;
    font-weight: 600;
    
}

button{
  background: #e9edc9;
  font-size: 20;
  border-radius: 5%;
  display: flex;
  cursor: pointer;

  span {
    margin-left: .3em;
  }

  &:hover{
    background: #e9edc9;

    dropdown{
      display: block;
    }
  }
    
}
