*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #588157;
    color: #fff;
}

h1{
    text-align: center;
    padding-top: 20px;
}
.accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.shop {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.shop-name {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.shop-name:after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.shop-name.active::after{
    content: "\2212";
}

.shop-description{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.shop-description-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #008f68, transparent) 1;
}
